#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
a {
  color: white;
}
body {
  height: 100%;
  width: 100%;
  background-color: rgba(136, 136, 136, 1);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* icons */
.contactInfo {
  padding: 0;
}
/* Header Font */
.name {
  font-size: 6rem;
  margin: 0;
  border-right: 2px solid white;
  white-space: nowrap;
  overflow: hidden;
  max-width: 530px;
}
.headerContent h3 {
  font-size: 2rem;
  margin: 0;
}

/* TECH STACK  */
.techStackIcons {
  display: flex;
  flex-wrap: wrap;
}
.devicon {
  font-size: 6rem;
}
.sqlIcon {
  height: 90px;
  width: 90px;
}

.headerContainer,
.aboutContainer,
.projectContainer {
  width: 100vw;
}

.headerContainer {
  background-color: rgba(34, 34, 34, 1);
  background-image: url("https://culture.basicagency.com/assets/images/dark-noise-background.jpg");
  color: white;
  padding-top: 100px;
}
.headerContent,
.aboutContent,
.projectsContent {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-size: 1.4rem;
}

.aboutContainer {
  background-color: white;
}

.contentTitles {
  font-size: 2.5rem;
}

.projectsContent {
  color: white;
}
h2 {
  margin: 0;
}

.type-animation {
  animation: typewriter 1.5s steps(20) 1s 1 normal both,
    blinkTextCursor 1000ms steps(20) 5 normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 600px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: solid white;
  }
  to {
    border-right-color: transparent;
  }
}

.bio {
  font-size: 1.5rem;
}
@media (max-width: 600px) {
  .name {
    font-size: 3.5rem;
    max-width: 300px;
  }
  .headerContent h3 {
    font-size: 1.5rem;
  }
  .headerContent,
  .aboutContent,
  .projectsContent {
    font-size: 1rem;
  }
  .devicon {
    font-size: 4rem;
  }
  .sqlIcon {
    height: 60px;
    width: 60px;
  }
}
