#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
a {
  color: white;
}
body {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* icons */
.contactInfo {
  padding: 0;
}
/* Header Font */
.name {
  font-size: 6rem;
  margin: 0;
  border-right: 2px solid white;
  white-space: nowrap;
  overflow: hidden;
  max-width: 530px;
}
.headerContent h3 {
  font-size: 2rem;
  margin: 0;
}

/* TECH STACK  */
.techStackContainer {
  display: flex;
  flex-wrap: wrap;
}
.techStackContainer > * {
  margin: 10px 0;
}
.devicon {
  font-size: 6rem;
}

.sqlIcon {
  height: 90px;
  width: 90px;
}

.headerContainer,
.aboutContainer,
.projectContainer {
  width: 100vw;
}

.headerContainer {
  background-color: rgba(34, 34, 34, 1);
  background-image: url("https://culture.basicagency.com/assets/images/dark-noise-background.jpg");
  color: white;
  padding-top: 100px;
}
.headerContent,
.aboutContent,
.projectsContent {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-size: 1.4rem;
}

.aboutContainer,
.projectContainer,
.techStackIcons {
  margin-top: 50px;
}
.techStackContainer {
  margin-top: 10px;
}
.contentTitles {
  font-size: 2.5rem;
}
h2 {
  margin: 0;
}

/* .projectsContent {
  color: white;
} */

.welp,
.fitpal,
.finalfantasy {
  display: flex;
}

.projectThumbnail {
  margin-top: 20px;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  transition: transform 0.5s ease;
}
.projectThumbnail:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.projectDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  padding-bottom: 10px;
}
.projectDescription h3 {
  margin-top: 20px;
  margin-bottom: 0;
}
.projectDescription p {
  margin: 0;
}
.projectLinks {
  display: flex;
  flex-direction: column;
}
.projectLinks a {
  color: rgb(60, 60, 60);
  text-decoration: none;
}
.projectLinks a:hover {
  color: black;
  text-decoration: underline;
}
.type-animation {
  animation: typewriter 1.2s steps(20) 1s 1 normal both,
    blinkTextCursor 1000ms steps(20) 5 normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 600px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: solid white;
  }
  to {
    border-right-color: transparent;
  }
}

.bio {
  font-size: 1.5rem;
}
@media (max-width: 600px) {
  .name {
    font-size: 3.5rem;
    max-width: 300px;
  }
  .headerContent h3 {
    font-size: 1.5rem;
  }
  .headerContent,
  .aboutContent,
  .projectsContent {
    font-size: 1rem;
  }
  .aboutContainer,
  .projectContainer,
  .techStackIcons {
    margin-top: 20px;
  }
  .devicon {
    font-size: 4rem;
  }
  .sqlIcon {
    height: 60px;
    width: 60px;
  }

  .welp,
  .fitpal,
  .finalfantasy {
    display: flex;
    flex-wrap: wrap;
  }
  .welp a,
  .fitpal a,
  .finalfantasy a {
    margin-left: auto;
    margin-right: auto;
  }
  .projectLinks {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
}
